.DS_Store
node_modules/
build
dist
coverage/
package-lock.json
.env
yarn-error*
firebase-debug.log

# firebase hosting
hosting.*

# yarn2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions